/*reglas "todo el body"
selectores "body es un selector"
declaraciones "la declaracion es background: red;"
propiedades "es backgorund"
valores "red" */




/* Selector de etiqueta */

body {
    font-family: "Monserrat",sans-serif;
    margin:0px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    

}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px; 
    text-transform: uppercase; 
    color:black; 
    margin:0;
    
   
}
h1 strong{
    color:#333a56;
}
h2{
  color: #333a56;
  text-transform: uppercase;  
  font-family: "Monserrat",sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.hero{
    height: 300px;
    background-image:url('../imagenes/hero1.jpg') ;
    background-color:#f7f5e6 ;
    background-size:400px 300px ;
    background-repeat:no-repeat ;
    background-position-x: right;
    display: flex;
    align-items: center;
}
.portfolio{
    background: #fafafa;
    padding: 20px;
}
.project{
    border-top: 1px solid gray; 
    border-right: 1px solid gray; 
    border-left: 1px solid gray; 
    border-bottom: 1px solid gray; 
    border-radius: 10px; 
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.project-url{
    margin: 10px 0;
}
.project-course{
    margin: 10px 0;
}
.project-date{
    margin:10px 0;
}
.project-description{
    font-size: 20px;
}
.project strong{
    font-family: "Oswald", sans-serif;
}
.project-title{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px 0;
}
.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

.header{
    background-color: #52658f ;
    color: white; 
    display: flex;
    height: 70px;  
    align-items: center;
    justify-content: space-between; 
     
}
.menu{
    height: inherit;
}
ol,
ul{
    margin:0px;
    padding:0px;
    list-style: none;
}

figure{    
    margin:0px;
    
}

.header ol{
    display:flex;
    height: inherit;
}
.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.header ol li {
    height: inherit;
}
.footer {
    background-color: #52658f;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}
.footer a{
    color: white;
}


/*Selector descendente 
body header div nav ol li a{
    color: blue;
}*/ 

/* selector de id o de clase 

.link (clase)
#portafolio (id) */
