/*reglas "todo el body"
selectores "body es un selector"
declaraciones "la declaracion es background: red;"
propiedades "es backgorund"
valores "red" */




/* Selector de etiqueta */

body {
    font-family: "Monserrat",sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Oswald", sans-serif;
}


/*Selector descendente 
body header div nav ol li a{
    color: blue;
}*/ 

/* selector de id o de clase 

.link (clase)
#portafolio (id) */
