/*reglas "todo el body"
selectores "body es un selector"
declaraciones "la declaracion es background: red;"
propiedades "es backgorund"
valores "red" */




/* Selector de etiqueta */

body {
    font-family: "Monserrat",sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    

}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px; 
    text-transform: uppercase; 
     
}
.hero{
    height: 300px;
}
.project-details{
    width: 500px;

}
.project-imageContainer{
    width: 500px;
}


/*Selector descendente 
body header div nav ol li a{
    color: blue;
}*/ 

/* selector de id o de clase 

.link (clase)
#portafolio (id) */
